.span3 .
.span8
  %h1 Getaways Metrics 
  .lead Welcome to the world of Getaways Booking.  This is a demo of the project that I've been working on sporadically over the past 4 months.  The point of the project is to offer a telling and informative visual display of both confirmed bookings and their occasional cancellation.  I've chosen to add a few other variables to the pie.  Weather.  Destination.  User Location.  There are far more ways to slice and dice the data, and I am open to suggestions on directions to take this thing.

  %strong
    #select Select one of the options below to get started.

.span12
  %a{:href => "/bookings"}
    %img#selection-left{:src => "./assets/booking_img.png"}
  %a{:href => "/cancellations"}
    %img#selection-right{:src => "./assets/cancelled_img.png"}
