.legend-scale
  %ul.legend-labels
    - if params[:title] == "bookings"
      - @legend_labels_bookings.each do |label|
        %li
          .div{:style => "background:#{label[:color]}"}
          %span= label[:text]
    - elsif params[:title] == "cancellations"
      - @legend_labels_cancellations.each do |label|
        %li
          .div{:style => "background:#{label[:color]}"}
          %span= label[:text]