%h1 Getaways Metrics

.row-fluid
  .span2
    %dl
      %a{:href => "/"}
        %dt.sidemenu Bookings
      %a{:href => "/"}
        %dt.sidemenu Cancellations
      %a{:href => "/"}
        %dt.sidemenu Destination
      %a{:href => "/"}
        %dt.sidemenu User Location

  .span6
    #title= "Metrics Tracker"
    = render "shared/bookings_graph"

  = render "shared/tracking_metrics"