%h1 Getaways Metrics

.row-fluid
  .span2
    #accordion2.accordion
      .accordion-group
        .accordion-heading
          %a.accordion-toggle{"data-parent" => "#accordion2", "data-toggle" => "collapse", :href => "#collapseOne"}
            Bookings
        #collapseOne.accordion-body.collapse{:style => "height: 0px; "}
          .accordion-inner
            %p
              %a{:href => '/bookings'} Cancellations
            %p
              %a{:href => '/bookings'} Weather
            %p
              %a{:href => '/bookings'} Destination
            %p
              %a{:href => '/bookings'} Location
      .accordion-group
        .accordion-heading
          %a.accordion-toggle{"data-parent" => "#accordion2", "data-toggle" => "collapse", :href => "#collapseTwo"}
            Cancellations
        #collapseTwo.accordion-body.collapse{:style => "height: 0px; "}
          .accordion-inner
            %p
              %a{:href => '/cancellations'} Bookings
            %p
              %a{:href => '/cancellations'} Weather
            %p
              %a{:href => '/cancellations'} Destination
            %p
              %a{:href => '/cancellations'} Location
      .accordion-group
        .accordion-heading
          %a.accordion-toggle{"data-parent" => "#accordion2", "data-toggle" => "collapse", :href => "#collapseThree"}
            Destination
        #collapseThree.accordion-body.collapse{:style => "height: 0px; "}
          .accordion-inner
            %p
              %a{:href => '/destination'} Bookings
            %p
              %a{:href => '/destination'} Cancellations
            %p
              %a{:href => '/destination'} Weather
            %p
              %a{:href => '/destination'} Location
      .accordion-group
        .accordion-heading
          %a.accordion-toggle{"data-parent" => "#accordion2", "data-toggle" => "collapse", :href => "#collapseFour"}
            Location
        #collapseFour.accordion-body.collapse{:style => "height: 0px; "}
          .accordion-inner
            %p
              %a{:href => '/location'} Bookings
            %p
              %a{:href => '/location'} Cancellations
            %p
              %a{:href => '/location'} Weather
            %p
              %a{:href => '/location'} Destination
  .span6
    = render "shared/bookings_graph"