#timeFilters
  %label.radio.inline
    %input#optionsRadios1{:checked => "", :name => "optionsRadios", :type => "radio", :value => ""}
      Lifetime
  %label.radio.inline
    %input#optionsRadios2{:name => "optionsRadios", :type => "radio", :value => "lastYear"}
      Last Year
  %label.radio.inline
    %input#optionsRadios3{:name => "optionsRadios", :type => "radio", :value => "lastQuarter"}
      Last Quarter
  %label.radio.inline
    %input#optionsRadios4{:name => "optionsRadios", :type => "radio", :value => "lastMonth"}
      Last Month
  %label.radio.inline
    %input#optionsRadios5{:name => "optionsRadios", :type => "radio", :value => "lastWeek"}
      Last Week