// Place all the styles related to the booking controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
  margin-top: 1cm;
  margin-bottom: 1cm;
}

body {
  padding-left: 2cm;
  background-color: #EFEFEF;
  padding-right: 2cm;
}

#logo {
  margin-bottom: -2.1cm;
  margin-left: 2cm;
}

.navbar {
  border-bottom-style: solid;
  border-bottom-width: 4px;
  border-bottom-color: #54C2DC;
}

dt {
  font-size: 1.2em;
}

dd {
  font-size: 1.02em;
  margin-top: .15cm;
}

.sidemenu {
  margin-top: 1cm;
}

#title {
  font-weight: bold;
  font-size: 1.5em;
  text-align: right;
  margin-top: -1.6cm;
  margin-bottom: 1.7cm;
  padding-right: 80px;
}

#detail {
  text-align: center;
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: 5px;
}

table {
  background-color: #B6B6B6
}
.hero-unit {
  background-color: #FAFAFA;
  padding-bottom: 20px;
}

#main-graph {
  width: 743px;
  margin-left: -60px;
}

.bar {
  display: inline-block;
  width: 3px;
  height: 75px;
  background-color: teal;
  margin-right: 1px;
}

.bar2 {
  display: inline-block;
  width: 2px;
  height: 75px;
  background-color: orange;
  margin-right: 1px;
}

// Styling for Double Line Graph

path {
  fill: none;
  stroke-width: 3px;
}

#legend-bookings {
  color: darkGreen;
  font-weight: bold;
  margin-top: -20px;
  margin-bottom: 30px;
  padding-left: 70px;
}

.x.axis line, .x.axis path {
  stroke: black;
  stroke-width: 1px;
}

.x.axis text {
  font-size: 12;
}

.y.axis line, .y.axis path {
  stroke: black;
  stroke-width: 1px;
}

.y.axis text {
  font-size: 16px;
  font-weight: bold
}

.y.axisLeft text {
  fill: darkGreen;
}

.accordion-group {
  border: none;
}

.accordion-toggle {
  font-size: 18px;
  font-weight: bold;
}

.accordion-inner {
  font-size: 14px;
  padding-left: 25px;
}