// Place all the styles related to the cancellation controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.metric2 {
  stroke: red;
}

.y.axisRight text {
  fill: red;
}

#legend-cancellations {
  color: red;
  font-weight: bold;
  margin-top: -20px;
  margin-bottom: 30px;
  padding-left: 70px;
}