<!DOCTYPE html>
%html
  %head
    %title Apprentice Project - Getaways Metrics
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body
    .navbar.navbar-fixed-top
      #logo
        %a{:href => "/"}
          %img{:src => "../assets/groupon_logo.png"}
      .navbar-inner
        .container
          .nav-collapse.collapse

    = yield
  / %footer
  /   = debug(params)